<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>Ejercicio 01</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>

	<div class="container">
		<h1>Ng-Model</h1>
		<hr>
		<p>
			Su nombre: {{ nombre | uppercase }}<br>
			<input type="text" ng-model="nombre" class="form-control" placeholder="Ingrese su nombre">
		</p>

		<p>
			Seleccione su País: {{ pais | uppercase }}<br>
			<select name="" id="" ng-model="pais" class="form-control">
				<option value="1">Paies 1</option>
				<option value="2">Paies 2</option>
				<option value="3">Paies 3</option>
			</select>
		</p>
		<p>
			Seleccione opciones: {{ opt1 }} / {{ opt2 }}<br>
			<input type="checkbox" ng-model="opt1"> Opcion 1
			<input type="checkbox" ng-model="opt2"> Opcion 2
		</p>

		<p>
			Seleccione genero: {{ genero }}<br>
			<input type="radio" value="M" ng-model="genero"> Masculino
			<input type="radio" value="F" ng-model="genero"> Femenino
		</p>
	</div>

	<script src="js/lib/angular.min.js"></script>
</body>
</html>